## where is the Indigo server running and credentials to connect to it.
## copy this file to indigoPlugin.cfg and set the values appropriately
[indigo]
server = <your Indigo Server address>
port = 8176
user = <Indigo user name>
password = <Indigo password>
